<header class="main-header">
	<div class="header-top">

	    <div class="container">
	        <div class="row clearfix">
	            <!--Logo-->
	            <div class="col-md-4 col-sm-4 col-xs-12 logo">
	            	<%= link_to root_path do %>
	            		<%= image_tag "http://res.cloudinary.com/discovercity/image/upload/v1491944425/interscopia/logo/interscopia-logo.png", class: "img-responsive" %>
	            	<% end %>
	            </div>
	            
	            <div class="col-lg-5 col-md-6 col-sm-8 header-top-infos pull-right">
	                <ul class="clearfix">
	                	<% if user_signed_in? %>
	                		<li>
		                        <div class="clearfix ">
		                            <img src="https://res.cloudinary.com/discovercity/image/upload/v1491944655/interscopia/images/icons/header-timer.png" alt="">
		                            <p><b>Welcome, <%= current_user.email %></b></p>
		                        </div>
		                    </li>
		                    <li>
		                        <div class="clearfix ">
		                            <img src="http://res.cloudinary.com/discovercity/image/upload/v1491944655/interscopia/images/icons/header-phone.png" alt="">
		                            <%= link_to destroy_user_session_path, :method => :delete do %>
		                            	<p><b>Sign Out</b></p>
		                            <% end %>
		                        </div>
		                    </li>
	                	<% else %>
		                    <li>
		                        <div class="clearfix ">
		                            <img src="https://res.cloudinary.com/discovercity/image/upload/v1491944655/interscopia/images/icons/header-timer.png" alt="">
		                            <p><b>
		                            	<%= link_to new_user_session_path do %>
		                            		Sign In
		                            	<% end %> / 
		                            	<%= link_to new_user_registration_path do %>
		                            		Sign Up
		                            	<% end %>
		                            	</b> <br>Free!</p>
		                        </div>
		                    </li>
		                    <li>
		                        <div class="clearfix ">
		                            <img src="http://res.cloudinary.com/discovercity/image/upload/v1491944655/interscopia/images/icons/header-phone.png" alt="">
		                            <p><b>Learn Online </b> <br>safe & secure</p>
		                        </div>
		                    </li>
		                <% end %>
	                </ul>
	            </div>
	            
	        </div>
	    </div>
	    
	</div>

	<!--Header Lower-->
	<div class="header-lower">
	    <div class="container">
	        <div class="row clearfix">
	            <!--Main Menu-->
	            <nav class="col-lg-9 col-md-8 col-sm-8 col-xs-12 main-menu">
	                <div class="navbar-header">
	                    <!-- Toggle Button -->      
	                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                </div>
	                
	                <div class="navbar-collapse collapse clearfix">                                                                                              
	                    <ul class="navigation">
	                        <li>
	                        	<%= link_to "Home", root_path %>
	                        </li>
	                        <% if user_signed_in? %>
		                        <li class="dropdown"><a href="index.html#">Videos</a>
		                            <ul class="submenu">
		                                <li><a href="videos-1column.html">Videos 1column</a></li>
		                                <li><a href="videos-2column.html">Videos 2column</a></li>
		                                <li><a href="videos-3column.html">Videos 3column</a></li>
		                                <li><a href="videos-4column.html">Videos 4column</a></li>
		                                <li><a href="videos-details.html">Videos Details</a></li>
		                                <li><a href="videos-details-youtube.html">Videos Details Youtube</a></li>
		                            </ul>
		                        </li>
		                    <% end %>
	                        <li><a href="about.html">About</a></li>
	                        <!--<li class="dropdown">
	                            <a href="index.html#">Pages</a>
	                            <ul class="submenu">
	                                <li><a href="archive.html">Archive</a></li>
	                                <li><a href="faq.html">Faq</a></li>
	                                <li><a href="under-construction.html">Under Construction</a></li>
	                                <li><a href="404.html">404 Page</a></li>
	                            </ul>
	                        </li>-->
	                        <li><a href="contact.html">Contact</a></li>
	                    </ul>
	                </div>
	            </nav>
	            <!--Main Menu End-->
	            
	            <!--Social Links-->
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 social-outer">
	                <div class="social-links text-right">
	                    <a href="index.html#" class="fa fa-facebook-f"></a>
	                    <a href="index.html#" class="fa fa-twitter"></a>
	                    <a href="index.html#" class="fa fa-instagram"></a>
	                    <a href="index.html#" class="fa fa-google"></a>
	                    <a href="index.html#" class="fa fa-pinterest-p"></a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</header>
	<!--End Main Header -->